<div class='background row'>
		<div class='large-12 columns'>
			<h1 class='pagehead logo'>ParDIY</h1>
			<div class='row'>
				<div class='large-4 columns'>
					<div id= 'signIn'>
						To sign up: <br>
						1)enter in email <br>
						2)leave password blank <br>
						3)click 'sign
					</div>
					<form>
						<div class="row">
							<label class= 'control-label' for='inputEmail'>Email</label>
							<div class= 'controls'>
								<input type= 'text' id= 'inputEmail' placeholder= 'Email'>
							</div>
						</div>
						<div>
							<label class= 'control-label' for= 'inputPassword'> Password </label>
							<div class= 'controls'>
								<input type= 'password' id='inputPassword' placeholder='Password'>
								<button id="toggle-password-field" class="small button alert">Show Password</button>
							</div>
						</div>
						<div class= 'control-group'>
							<div class= 'controls'>
								<button type= 'submit' class= 'btn'> Sign in </button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class='large-8 columns'>
						<div id='greeting'> Party On! </div>
						<div class='bla'>Umami cred banjo blog. Biodiesel kogi mixtape, YOLO mustache plaid deep v you probably haven't heard of them master cleanse Pinterest polaroid freegan fashion axe. Fixie narwhal kitsch bespoke, quinoa McSweeney's seitan beard lo-fi wolf. Next level selfies dreamcatcher, tousled gentrify iPhone flexitarian. Shabby chic tumblr DIY meh cornhole, gastropub mustache gentrify Carles banjo gluten-free art party chambray. 3 wolf moon beard vegan art party, post-ironic Terry Richardson wayfarers Godard seitan plaid. Hashtag synth Williamsburg, Odd Future vinyl street art four loko polaroid chillwave iPhone Pinterest.</div>
					</div>
				</div>
			</div>
		</div>
	</div>